:root {
    --default-border-width: 1.3px;
    --default-highlight-color: rgba(255,119,0, 0.4); /*rgba(196, 103, 33, 0.8);*/
    --default-visited-link-color: rgba(138, 73, 23, 0.8);
    --default-background-color:  rgb(252, 252, 252);/*rgb(219,206,186);*/
    --default-font-color: rgb(100, 100, 100); /*rgb(41,50,76);*/
    --heading-font-family: Source+Code+Pro;
    --default-font-family: Montserrat;

    --base-font-size:12px;
}

nav {
    width: auto;
    height: 100%;
    margin: 0 15px;
    background-color: red; 
}

nav ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 10px;
}

nav ul li {
    padding: 10px;
    color: var(--default-font-color);
    font-family: var(--default-font-family);
}   

nav ul li a {
    color: var(--default-font-color);
    font-family: var(--default-font-family);
    text-decoration: none;  
}

/* HAMBURGER STUFF */
.hamburger {
	background-color: #6A5ACD;
	width: 50px;
	height: 50px;
	padding: 10px;
	margin: 30px;
	-webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; 
	float:left;
}

.hamburger:hover {
	cursor: pointer;
}

.line{
  width: 50px;
  height: 5px;
  background-color: #D3D3D3;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#boxone:hover .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}
#boxone:hover .line:nth-child(2) {
	opacity: 0;
}
#boxone:hover .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}
