
@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro');

:root {
    --default-border-width: 1.3px;
    --default-highlight-color: rgba(255,119,0, 0.4); /*rgba(196, 103, 33, 0.8);*/
    --default-visited-link-color: rgba(138, 73, 23, 0.8);
    --default-background-color: ##BAC4D8; /* rgb(252, 252, 252);*//*rgb(219,206,186);*/
    --default-font-color: rgb(129, 127, 127); /*rgb(41,50,76);*/
    --heading-font-family: Source+Code+Pro;
    --default-font-family: Montserrat;
    --default-box-shadow-color: rgba(178,185,207,0.2); /* #B2B9CF;*/

    --base-font-size:12px;
}

@media screen and (min-width: 600px){
    
    main {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, auto);
        row-gap: 10px;
        column-gap: 10px;
    }

    .site {
        margin: 20px 75px;
    }
}

@media screen and (max-width: 600px){

    main {
        grid-template-columns: repeat(1 1fr);
        row-gap: 7px;
        /*column-gap: 7px;*/
    }
    
    .empty{
        display:none;
    }

    .site {
        margin: 5px 10px;
    }
}

body {
    background: var(--default-background-color);
    /*background-image: gradient(to bottom right, 000, fff);*/
    margin: 0;
    font-family: var(--default-font-family), san-serif;
    font-size: var(--base-font-size);
    color: var(--default-font-color);
}

.site {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

header {
    grid-area:header;
    
    /*width: 100%;
    height: auto;*/
    padding: 10px 0; 
}

#head-group {
    padding-left: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#headshot {
    /*width: 94px;*/ /* original 280 */
    /*height: 119px; */ /* original 356*/
    margin: 5px 0;
    float: left;
    border-radius: 10%;
    -moz-box-shadow: 5px 5px 25px var(--default-box-shadow-color);
    -webkit-box-shadow: 5px 5px 25px var(--default-box-shadow-color);
    box-shadow: 5px 5px 25px var(--default-box-shadow-color);
    opacity: 0.8;
}

#headshot img {
    max-width: 100%;
    display:block;
    height:auto;
    margin:auto;
    border-radius: 10%;
    border: 0.5px solid white;
}

#headshot img:hover {
    opacity: 0.5;
}

h1 {
    font-family: var(--default-font-family), sans-serif;
    font-size: 300%;
    font-weight: 300;
    text-shadow: 1px 1px var(--default-box-shadow-color);
    margin: 0 15px;
    display: block;
}

main {
    grid-area: main;

    display: grid;
    column-gap: 35px;
    row-gap: 30px;
    /*grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);*/
    
    width: auto;
    height: auto;
    padding: 10px 0; 
}

article {
    border: 0.05em solidvar(--default-box-shadow-color);
    -moz-box-shadow: 2px 5px 25px var(--default-box-shadow-color);
    -webkit-box-shadow: 2px 5px 25px var(--default-box-shadow-color);
    box-shadow: 5px 8px 30px var(--default-box-shadow-color);
    border-radius: 0.5em;
}

article:hover, article:active {
    /*background:  var(--default-box-shadow-color) url("http://placekitten.com/g/300/250") no-repeat center;*/
    background:  var(--default-box-shadow-color) url("crocus.jpg") no-repeat center;
    background-size: cover;
    border-radius: 0.3em;
    color: var(--default-font-color);
    /*opacity: 0.3;  */
}

article div {
    position:relative;
    padding: 10px;
    min-width: 150px;
    min-height: 150px;
    display: block-inline;
    margin:auto;
    text-align: center;
}

article div p{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

article div:hover, div:active {
    background: var(--default-background-color);
    opacity: 0.8;
}

footer {
    grid-area: footer;
    padding: 10px 0;
}

footer ul{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    margin: 10px 0;
    padding-inline-start: 0;
}

footer ul li {
    padding: 0 20px 0 0;
    color: var(--default-font-color);
    margin: 0;
}

footer ul li a i {
    font-size: 24;
}

footer ul li div:active,
footer ul li div:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

a:visited {
    color: var(--default-font-color);
    opacity: 0.5;
}

a:hover, a:focus {
    color: var(--default-font-color);
}

footer a {
    color: var(--default-font-color);
}